<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
 

  <ion-app>
    <ion-header translucent>
      <ion-toolbar>
        <ion-title>Contact</ion-title>
      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>
      <ion-card>       
        <ion-card-header>          
          <ion-card-title>Reception Address:</ion-card-title>
        </ion-card-header>
        <ion-card-content>
         HALDIRAM WEDDING HALL,
         <br/>
         420, Kazi Nazrul Islam Avenue, Kolkata- 700052
         Beside Haldiram Shop,
         Landmark: Anupama Market
<br/>


    

    Sujit Roy (8334047033/7003079927)     
    <br/>

    Mita Roy(9433208885) 
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-app>

</ion-content>
